[submodule "webcorpus"]
	path = webcorpus
	url = https://github.com/AI4Bharat/webcorpus.git
[submodule "setu"]
	path = setu
	url = https://github.com/AI4Bharat/setu.git
[submodule "setu-translate"]
	path = setu-translate
	url = https://github.com/AI4Bharat/setu-translate.git
